$commonColor : #6A19D6;
$white: #F1F6F9;

.feeds{
    height: 100vh;
    width: 100%;
    background-color: $white;
    display: flex;
    gap: 1.5rem;
    padding: 1rem ;
    justify-content: center;
    & .left-feed{
        width: 20%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 4px;
        overflow: none;
        display: flex;
    }
    & .right-feed{
        width: 68%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 4px;
        overflow: scroll;
    }
}